.parent {
  position: relative;
  top: 0;
  left: 0;
}
.bottom-pic {
  position: relative;
  top: 0;
  left: 0;
}

.top-pic {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.mytestdiv {
	z-index: 5;
	position: absolute;
	/* background-color: red;*/
	/* opacity: 0.2;*/
	display: none;
}


div.my-nav-div {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    /*max-width: 100px;*/
    /*padding: 5px;*/
    text-align: center;
}

div.my-nav-div:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

.my-nav-img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
}

.my-nav-dir-text {
  margin-left: 5px;
}


div.my-nav-div.next div.my-nav-img:before {
   content: url(../images/wiki/arrow-right-small.png);
}

div.my-nav-div.back div.my-nav-img:before {
   content: url(../images/wiki/back.png);
}

div.my-nav-div.up div.my-nav-img:before {
   content: url(../images/wiki/arrow-up-small.png);
}

div.my-nav-div.previous div.my-nav-img:before {
   content: url(../images/wiki/arrow-left-small.png);
}

table.my-nav-table {
	border: 5px solid #bbb;
	padding: 0;
}

table.my-nav-table td {
	padding: 0;
	border: 5px solid #bbb;
}

#wordsElement {
	display: None;
}

#showWords {
	display: None;
}
